{% extends "base.html" %}

{% block header %}
  <h1>{% block title %}Edit user: {{ user['username'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">User</label>
    <input name="username" id="username" value="{{ request.form['username']
     or user['username'] }}" required>
    <label for="admin">Admin Status</label>
    <input name="admin" id="admin" value="{{ request.form['admin']
     or user['admin'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
